/phpunit.xml
!/cert
/cert/*
!cert/.gitkeep
!/config
/config/*
!config/config.php.dist
/var/*
!/var/data
/var/data/*
!var/data/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/metadata
/metadata/*
!metadata/.gitkeep
/vendor/
composer.lock